@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    padding: 0;
    margin: 0;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    background-color: #f7f7f9;
}

h1 {
    margin-top: 8px;
    margin-bottom: 8px;
}

a {
    text-decoration: none;
    cursor: pointer;
}

p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.container{
    display: flex;
    height: 100vh;

}

.container-dark{
    flex:0 1 32%;
     min-height: 100%;
     padding: 0 24px;
     background-image: url('../assets/desktop/dark-bg.png');
     background-repeat: no-repeat;
     background-position: center;
     overflow: hidden;
     background-size: cover;
     justify-content: center;

}

.intro-text {
    display: flex;
    top: 8%;
    position: absolute;
    left: 129px;



}

.text-header {

    font-size: 24px;
    font-family: 'Big Shoulders Display';
    font-style: normal;
    font-weight: 900;
    font-size: 90px;
    line-height: 88px;
    color: #f7f7f9;
    text-transform: uppercase;

}

.text-header:after {
    color: black;
    content: 'LERY';
}


.container-bg {
    display: flex;
    flex:0 2 40%;
    min-height: 100%;
    padding: 0 24px;
    background-image: url('../assets/desktop/image-hero@2x.jpg');
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    background-size: cover;
    justify-content: center;
}

.bg-intro {
   display: flex;
 
}

.bg-intro-text{
 width: 21%;
 display: flex;
 top: 7%;
 height: 160px;
 position: absolute;
 margin:10px 10px;
 padding:10px 10px;
right: 60px;
}

.bg-intro-text p{
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 32px;
    color: #444444
}

.style-button{
    top: 20%;
    right: 11.5%;
    display: flex;
    position: absolute;
   background: #D5966C;
    width: 230px;
    height: 72px;
   
}

.style-button p{
background-color: white;
}

button{
    flex: 0 1 180px;
    background-color: black;
    color: white;
    font-family: 'Big Shoulders Display';
    font-style: normal;
    font-weight: 800;
    font-size: 19px;
    line-height: 21px;
    letter-spacing: 1.63636px; 
    color: #FFFFFF;
}
.path{
clip-path: polygon(74% 21%, 100% 50%, 67% 67%, 65% 64%, 95% 48%, 71% 25%);
color: white;
width: 30px;
height: 50px;
 background-color: rgba(30, 29, 29, 0.46)
}



.gallery-conatiner{
    display: flex;
    margin: 20px 20px;
    padding: 30px 30px;
    margin-top: 70px;
   
  
}

.gallery-main-body{
    display: flex;
}

.gallery-main-text{
    display:flex;
    flex-direction: column;
    margin-left: 22%;

}
.gallery-text{
    flex:0 1 45%;
    
}
.gallery-main-text h1{
    font-family: 'Big Shoulders Display';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    margin: 10px 10px;
    color: #151515;
}

.gallery-main-text p {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 32px;
    width: 55%;
    margin: 10px 10px;
    color: #444444;
    
}
.gallery-image{
    flex:0 2 58%;
}

.gallery-img {
    width: 80%;
    height: 80%;
}

.gallery-container{
    display: flex;
     margin: 0 50px;
     padding: 0 50px;
    justify-content: center;
    margin-top: -5%;

}

.gallery-big{
    flex:0 1 52%;
}


.gallery-small{
    flex:0 1 40%;
    
}
.img-bg{
object-fit: cover;
    width: 95%;
    height: 95%;
}

.gallery-small-image img{
    width: 90%;
    
   
}
.gallery-small-image1{
    margin:30px 0;
}
.gallery-small-image1 img{
    width: 90%;
   
}


.gallery-main-text2 {
    display: flex;
    flex-direction: column;

}

.gallery-text2 {
    margin-top: -60%;
    margin-left: 8%;
    
 }

.gallery-main-text2 h1 {
    font-family: 'Big Shoulders Display';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    margin: 10px 10px;
    color: #f0eaea;
}

.gallery-main-text2 p {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 32px;
    width: 55%;
    margin: 10px 10px;
    color: #f3eeee;

}

.footer-container{
    display: flex;
    background-color: #131212ec;
    flex-wrap: wrap;
}
.footer-header{
    flex: 1;
    margin: 25px;
    margin-left: 8%;

}
.footer-header h1{
    color: #FFFFFF;
     font-family: 'Big Shoulders Display';
     font-style: normal;
     font-weight: 800;
     font-size: 35px;
     line-height: 30px;

  
}
.footer-text{
    display: flex;
flex:0 2 40%;
text-align: start;
margin: 10px;

}
.footer-text p{
    color: #FFFFFF;
     font-family: 'Outfit';
     font-style: normal;
     font-weight: 300;
     font-size: 22px;
}

.footer-media{
    display: flex;
    flex: 1;
    justify-content: center;
}
.footer-media ul{
 display: flex;
 align-items: center;
 
}
.footer-media ul li{
    margin: 15px;
    color: white;
}
